/* Overwrite default chat styles */

.avatar {
  margin: 0 14px 8px 0;
}
.embeddedServiceLiveAgentStateChatItem.chatMessage {
  margin: 0;
  padding: 6px 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Loader */

.chatMessage.agent:last-of-type .has-loader .slds-rich-text-editor__output {
  display: none;
}

.chatMessage.agent.visible:last-of-type
  .has-loader
  .slds-rich-text-editor__output {
  display: block;
}

.loader {
  opacity: 0;
  display: none;
}

.chat-content.chat-bot-v4 .loader {
  padding: 16px !important;
  background: #efeff0;
}

.chatMessage.agent:last-of-type .loader {
  opacity: 1;
  display: block;
}

.loader.hidden {
  opacity: 0 !important;
  display: none !important;
}

.tiblock {
  align-items: center;
  display: flex;
  height: 17px;
}

.loader .tidot {
  background-color: #90949c;
}

.tidot {
  -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 2px;
  display: inline-block;
  height: 4px;
  margin-right: 2px;
  width: 4px;
}

@-webkit-keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0px);
  }
  28% {
    -webkit-transform: translateY(-5px);
  }
  44% {
    -webkit-transform: translateY(0px);
  }
}

.tidot:nth-child(1) {
  -webkit-animation-delay: 200ms;
}
.tidot:nth-child(2) {
  -webkit-animation-delay: 300ms;
}
.tidot:nth-child(3) {
  -webkit-animation-delay: 400ms;
}

/* Scroll button */

.embeddedServiceLiveAgentStateChatInputFooter
  .unseenMessageNotificationWrapper
  .scrollDownButton
  .slds-button_icon-border {
  color: #ff6900;
  opacity: 0.4;
}

.embeddedServiceLiveAgentStateChatInputFooter
  .unseenMessageNotificationWrapper
  .scrollDownButton
  .slds-button_icon-border:hover {
  opacity: 1;
}

.nameAndTimeContent {
  display: none !important ;
}

.messageArea:focus {
  border: none !important;
}

.messageArea .ultimate-btn-container {
  padding: 12px 16px 16px;
  box-sizing: border-box;
  width: 300px;
}

.messageArea .ultimate-btn-container .ultimate-btn:disabled {
  cursor: default;
  background: rgba(0, 48, 144, 0.3);
  border-color: rgba(0, 48, 144, 0.3);
}

/* user answer */

.chatContent .chasitor {
  padding: 12px !important;
  background: #5d5adc;
  border-radius: 12px !important;
}

.chatContent .chasitor span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 16px;
  color: #f9f9fb;
}

/* bot answer */

.chatContent .agent {
  background: #f9f9fb !important;
  border: 1px solid #e2e5eb;
  border-radius: 12px !important;
  padding: 12px !important;
  text-align: start;
}

.chatContent .agent span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 16px;
  color: #15142d;
}

.chatContent .agent span .btn-default {
  margin: 0;
}

/* Hide default lighting rich text field */

.chatContent-custom-element .rich-content-wrapper {
  display: none;
}

/* General styles  */

.hidden {
  display: none !important;
}

.messageWrapper li.visible {
  /* opacity: 1!important; */
  position: relative !important;
  display: block !important;
}

/*general for all buttons*/

.version-custom-button {
  background: #f9f9fb;
  border: 1px solid #e2e5eb;
  border-radius: 12px;
  overflow: hidden;
  margin-left: 40px;
  justify-content: start !important;
}

.info {
  color: #15142d;
  text-align: start;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.buttons-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.buttons-wrapper .btn-default {
  background: #f9f9fb;
  width: 100%;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
  font-family: "Inter", sans-serif !important;
  font-style: normal;
  font-weight: 530 !important;
  font-size: 13px;
  line-height: 16px;
  color: #0f0e3f;
  border: 1px solid #5d5adc;
  border-radius: 6px;
  text-decoration: none;
}

.buttons-wrapper .btn-default:not(:last-child) {
  margin-bottom: 8px;
}

.buttons-wrapper .btn-default:hover,
.buttons-wrapper .btn-default:active {
  background: #5d5adc !important;
  color: #fff !important;
  opacity: 1 !important;
}

.buttons-wrapper .btn-default:hover:active:focus {
  background: #5d5adc;
}

.buttons-wrapper .btn-default:focus {
  background: #f9f9fb !important;
}

.buttons-wrapper .btn-default:focus:hover,
.buttons-wrapper .btn-default:focus:active {
  background: #5d5adc !important;
}

.btn-default.button-disabled {
  cursor: default;
}

.buttons-wrapper .btn-default.button-disabled:hover {
  background: #f9f9fb !important;
  opacity: 1 !important;
  color: #0f0e3f !important;
}

.buttons-wrapper .btn-default.button-disabled:focus,
.buttons-wrapper .btn-default.button-disabled:active,
.buttons-wrapper .btn-default .button-disabled:hover:active:focus {
  background: #f9f9fb !important;
  color: #0f0e3f !important;
}

.btn-default {
  border: none;
  text-align: start;
}

.buttons-wrapper .oneElement {
  background: #5d5adc !important;
  color: #ffffff;
  width: auto;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
}

.buttons-wrapper .oneElement:hover,
.buttons-wrapper .oneElement:focus:hover {
  background: #211f8a !important;
  opacity: 1 !important;
  cursor: pointer;
}

.buttons-wrapper .oneElement:focus {
  background: #5d5adc !important;
}

.buttons-wrapper .oneElement.button-disabled:focus,
.buttons-wrapper .oneElement.button-disabled:active,
.buttons-wrapper .oneElement.button-disabled:hover,
.buttons-wrapper .oneElement .button-disabled:hover:active:focus,
.buttons-wrapper-v2 .oneElement.button-disabled:focus {
  background: #5d5adc !important;
  color: white !important;
  cursor: default;
}

/* button version 0 */

.info-v0 img {
  width: 100%;
}

/* button version 1 */

.buttons-wrapper-v1 {
  flex-direction: row;
}

.buttons-wrapper-v1 .btn-default:first-child {
  margin: 0;
  margin-right: 12px;
}

/* button version 2 */

.btn-container-v2 {
  background: none;
  border: none;
  padding: 0 !important;
  border-radius: 0;
}

.info-v2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  background: #f9f9fb;
  padding: 12px 8px 12px 12px;
  border: 1px solid #e2e5eb;
  border-radius: 12px;
  box-sizing: border-box;
  margin-bottom: 4px;
}

.buttons-wrapper-v2 {
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons-wrapper-v2 .btn-default {
  width: auto;
  background: none;
  padding: 8px 16px;
  margin-bottom: 4px !important;
}

.buttons-wrapper-v2 .btn-default.button-disabled:hover,
.buttons-wrapper-v2 .btn-default.button-disabled:focus {
  background: none !important;
}

.buttons-wrapper-v2 .btn-default:not(:last-child) {
  margin-right: 8px;
}

.titlesBlock {
  display: flex;
  flex-direction: column;
  padding: 0 16px 12px 12px;
  margin-left: -12px;
  margin-right: -8px;
}

.titlesBlock p:not(:last-child) {
  margin-bottom: 4px;
}

.titlesBlock p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 530;
  font-size: 13px;
  color: #15142d;
}

.buttonBlock {
  background-color: white;
  padding: 16px;
  border-radius: 0px 0 12px 12px;
  margin: 0 -8px -12px -12px;
}

.buttonBlock_text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: #6c6f85;
  margin-bottom: 16px;
  text-align: start;
}

.buttonBlock .btn-default {
  background: #5d5adc !important;
  color: white !important;
  margin: 0 !important;
}

.buttonBlock .btn-default:hover {
  background: #211f8a !important;
}

.buttonBlock .btn-default:focus {
  background: #5d5adc !important;
}

.buttonBlock .btn-default:focus:hover {
  background: #211f8a !important;
}

.changePadding {
  padding: 12px 0 0 0;
}
/* general for buttons link */

.button-link-wrapper {
  display: flex;
  width: fit-content;
  border: none;
  background: none;
  padding: 0;
  text-align: start;
  cursor: pointer;
}

.button-link {
  font-family: "Inter", sans-serif;
  font-weight: 530;
  font-size: 13px;
  line-height: 16px;
  color: #5d5adc !important;
  text-decoration: none !important;
}

.button-link-wrapper-v0 svg {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.button-link-wrapper:hover,
.button-link-wrapper:active,
.button-link-wrapper:focus {
  background: none !important;
  opacity: 1 !important;
}

.button-link-wrapper:hover .button-link,
.button-link-wrapper:active .button-link {
  color: #4441bd !important;
}

.button-link-wrapper:hover path,
.button-link-wrapper:active path {
  fill: #4441bd;
}

.button-note-block {
  margin-top: 4px;
  text-align: start;
}

.button-note-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 16px;
  color: #6c6f85;
  text-align: start;
}

/* button link v1 */

.button-link-wrapper-v1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  background: #5d5adc;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
}

.button-link-wrapper-v1:hover,
.button-link-wrapper-v1:active {
  background: #211f8a !important;
}

.button-link-wrapper-v1:focus {
  background: #5d5adc !important;
}

.button-link-wrapper-v1:focus:hover {
  background: #211f8a !important;
}

.button-link-wrapper-v1 .button-link {
  color: #ffffff !important;
}

.button-link-wrapper-v1:hover .button-link,
.button-link-wrapper-v1:active .button-link {
  color: #ffffff !important;
}

.button-link-wrapper-v1 path {
  fill: #ffffff !important;
}

.button-link-wrapper-v1:hover path {
  fill: #ffffff !important;
}

.button-link-wrapper-v1 svg {
  margin: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

/* button rating v1*/

.info-rating {
  justify-content: center;
}

.buttons-wrapper-v3 {
  margin-top: 8px;
}

.rating-group {
  display: inline-flex;
  width: fit-content;
}

.rating__icon {
  pointer-events: none;
}

.rating__input {
  position: absolute !important;
  left: -9999px !important;
}

.rating__input--none {
  display: none;
}

.rating__label {
  cursor: pointer;
}

.starsBlock svg {
  width: 20px;
  height: 20px;
  padding: 5px;
  margin: 0 6px;
}

.rating_label:last-child {
  margin: 10px;
}

.starsBlock svg:hover {
  background: #e7e6fa;
  border-radius: 6px;
}

.star-disabled {
  cursor: default;
}

.star-disabled svg:hover {
  background: none;
}

.star-remaining {
  cursor: default;
}

.star-disabled path {
  fill: #5d5adc !important;
  stroke: #5d5adc;
}

.star-remaining path {
  fill: none !important;
  stroke: #5d5adc;
}

.star-disabled,
.star-remaining svg:hover {
  background: none;
}

.starsBlock:hover .star-remaining path {
  fill: none !important;
}

.starsBlock:hover .star-disabled path {
  fill: #5d5adc !important;
}

.rating__input:checked ~ .rating__label path {
  fill: none;
}

.starsBlock:hover .rating__label path {
  fill: #5d5adc;
}

.rating__input:hover ~ .rating__label path {
  fill: none;
}

.btn-rating {
  border: 0;
  background: none;
  font-family: "Inter", sans-serif !important;
  font-weight: 530 !important;
  font-size: 13px;
  line-height: 16px;
  color: #15142d;
  cursor: pointer;
  padding: 0;
  width: fit-content;
  margin: 0 auto;
}

.btn-rating:hover,
.btn-rating:active,
.btn-rating:focus {
  background: none !important;
  color: #15142d !important;
  opacity: 1 !important;
}

.btn-rating.button-disabled {
  cursor: default;
}

.buttons-wrapper-v3
  .button-disabled:active
  .buttons-wrapper-v3
  .button-disabled:focus {
  background: none !important;
  color: #15142d !important;
}

/* button rating v2*/

.starsBlock-v4 {
  display: flex;
}

.rating-v2-button {
  cursor: pointer;
  padding: 6px;
}

.rating-v2-button:hover {
  border-radius: 6px;
  background: #e7e6fa;
}

.rating-v2-button:not(:last-child) {
  margin-right: 12px;
}

.rating-v2-button.button-disabled {
  cursor: default;
}

.rating-v2-button.button-disabled:hover {
  cursor: default;
  background: none;
}

.btn-container-v4 .btn-rating {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  border: 1px solid #5d5adc;
  border-radius: 6px;
}

.btn-container-v4 .btn-rating:hover,
.btn-container-v4 .btn-rating:active,
.btn-container-v4 .btn-rating:focus {
  background: #5d5adc !important;
  color: #fff !important;
}

.btn-container-v4 .btn-rating.button-disabled:hover,
.btn-container-v4 .btn-rating.button-disabled:active,
.btn-container-v4 .btn-rating.button-disabled:focus {
  background: none !important;
  color: #15142d !important;
}

/* general for all carousels */

.messageArea .ultimate-carousel {
  position: relative;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
}

.messageArea .ultimate-carousel .ultimate-carousel-list {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.messageArea .ultimate-carousel .ultimate-carousel-list:before {
  content: "";
  position: absolute;
  left: 230px;
  top: 0;
  width: calc(100% - 230px);
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.ultimate-carousel .ultimate-carousel-track {
  position: relative;
  top: 0;
  left: 0;
  width: 15000px;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0px, 0px, 0px);
  transition: 500ms transform ease;
  opacity: 1;
}

.ultimate-card-info-block {
  text-align: start;
}

.messageArea .ultimate-carousel .ultimate-carousel-button {
  display: block;
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  border: none;
  border-radius: 16px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  outline: 0;
  z-index: 2;
  transform: translateY(-50%);
}

.messageArea .ultimate-carousel .ultimate-carousel-prev {
  left: 5px;
}

.messageArea .ultimate-carousel .ultimate-carousel-next {
  right: 5px;
}

.messageArea .ultimate-carousel .ultimate-carousel-button:hover,
.messageArea .ultimate-carousel .ultimate-carousel-button:active,
.messageArea
  .ultimate-carousel
  .ultimate-carousel-button:hover:focus
  .messageArea
  .ultimate-carousel
  .ultimate-carousel-button:active:focus {
  background: rgba(21, 20, 45, 0.5) !important;
  backdrop-filter: blur(20px);
  opacity: 1 !important;
}

.messageArea .ultimate-carousel .ultimate-carousel-button svg {
  position: relative;
  width: 13.5px;
  height: 10.5px;
  pointer-events: none;
}

.messageArea .ultimate-carousel .ultimate-carousel-button:hover path,
.messageArea .ultimate-carousel .ultimate-carousel-button:active path {
  fill: #ffffff;
}

.messageArea .ultimate-carousel .ultimate-carousel-button.disabled {
  display: none;
}

.messageArea .ultimate-hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}

.ultimate-carousel-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  background: #f9f9fb;
  border: 1px solid #e2e5eb;
  border-radius: 12px 12px 2px 2px;
  margin-bottom: 4px;
  max-width: fit-content;
  color: #15142d;
}

.ultimate-carousel-list-version .ultimate-carousel-track {
  display: flex;
}

.ultimate-card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e2e5eb;
  border-radius: 10px;
  overflow: hidden;
  width: 260px;
}

.ultimate-card:not(:last-child) {
  margin-right: 8px !important;
}

.ultimate-card-title {
  font-family: "Inter", sans-serif;
  font-weight: 530;
  font-size: 13px;
  line-height: 16px;
  color: #15142d;
  margin: 12px 16px 8px;
}

.ultimate-card-images-block {
  display: flex;
  height: 260px;
  width: 100%;
}

.ultimate-card-image {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ultimate-custom-card-container {
  flex-grow: 1;
  text-align: start;
  margin: 0 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 16px;
  color: #6c6f85;
}

.ultimate-custom-card-buttons {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

.ultimate-card-button {
  border: none;
  background: #5d5adc !important;
  border-radius: 6px;
  text-align: center;
  padding: 8px 0;
  font-family: "Inter", sans-serif !important;
  font-weight: 530 !important;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
  width: -webkit-fill-available;
}

.ultimate-card-button:hover {
  opacity: 1 !important;
  background: #211f8a !important;
}

.ultimate-card-link-wrapper {
  display: flex;
  justify-content: center;
}

.ultimate-card-link-wrapper svg {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.ultimate-card-link-wrapper .button-link {
  color: #ffffff !important;
}

.ultimate-card-link-wrapper:hover .button-link,
.ultimate-card-link-wrapper:active .button-link {
  color: #ffffff !important;
}

.ultimate-card-link-wrapper:hover path,
.ultimate-card-link-wrapper:active path {
  fill: #ffffff !important;
}

.ultimate-card-button:not(:last-child) {
  margin-bottom: 4px;
}

.carousel-disabled .ultimate-card-button:hover {
  background-color: #5d5adc !important;
  color: #ffffff !important;
  cursor: default;
}

.carousel-disabled .ultimate-card-link-wrapper:hover {
  background: #211f8a !important;
  color: #ffffff !important;
  cursor: pointer;
}

/* Carousel version 2 */

.ultimate-card-v2 {
  border: none;
  backdrop-filter: blur(0px);
  -webkit-filter: blur(0px);
  width: 320px;
}

.ultimate-card-info-block-v2 {
  position: absolute;
  bottom: 0;
  backdrop-filter: blur(20px);
  width: 100%;
  padding: 12px 16px 16px;
  box-sizing: border-box;
}

.ultimate-card-info-block-v2 .ultimate-card-title {
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.ultimate-card-info-block-v2 .ultimate-custom-card-container {
  color: #ffffff;
  margin: 0;
  margin-bottom: 12px;
}

.ultimate-card-info-block-v2 .ultimate-btn-container {
  padding: 0;
}

.ultimate-card-info-block-v2 .ultimate-card-button {
  background: none !important;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

.ultimate-card-info-block-v2 .ultimate-card-button:hover {
  background: #ffffff !important;
  color: #15142d !important;
}

.carousel-disabled .ultimate-card-info-block-v2 .ultimate-card-button:hover {
  background: none !important;
  color: #ffffff !important;
  cursor: default;
}

.carousel-disabled
  .ultimate-card-info-block-v2
  .ultimate-card-link-wrapper:hover {
  background: #ffffff !important;
  color: #15142d !important;
  cursor: pointer;
}

.carousel-disabled
  .ultimate-card-info-block-v2
  .ultimate-card-link-wrapper:hover
  path {
  fill: #15142d;
}

.ultimate-card-info-block-v2 .ultimate-card-link-wrapper:hover .button-link {
  color: #15142d !important;
}

.ultimate-card-info-block-v2 .ultimate-card-link-wrapper:hover path {
  fill: #15142d !important;
}

/* Carousel version 3 */

.ultimate-card-v3 {
  width: 206px;
}

.ultimate-card-info-block-v3 .ultimate-card-title {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6c6f85;
  margin: 0;
  margin-bottom: 4px;
}

.ultimate-card-info-block-v3 {
  width: 100%;
  padding: 12px 16px 16px;
  box-sizing: border-box;
}

.ultimate-card-info-block-v3 .ultimate-custom-card-container {
  margin: 0;
}

.ultimate-card-info-block-v3 h2 {
  font-family: "Inter", sans-serif;
  font-weight: 530;
  font-size: 20px;
  line-height: 28px;
  color: #15142d;
  margin-bottom: 8px;
}

.ultimate-card-info-block-v3 h5 {
  padding: 2px 4px;
  background: #e7f7f0;
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #0b3427;
  margin-bottom: 8px;
}

.ultimate-card-info-block-v3 p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 16px;
  color: #6c6f85;
  padding-bottom: 16px;
  border-bottom: 1px solid #e2e5eb;
}

.ultimate-card-info-block-v3 .ultimate-custom-card-buttons {
  margin-top: 10px;
  padding: 0;
}

.ultimate-card-info-block-v3 .ultimate-card-link-wrapper {
  background: none !important;
  justify-content: start;
  width: fit-content;
}

.ultimate-card-info-block-v3 .button-link {
  color: #5d5adc !important;
}

.ultimate-card-info-block-v3 .ultimate-card-link-wrapper:hover .button-link,
.ultimate-card-info-block-v3 .ultimate-card-link-wrapper:active .button-link {
  color: #4441bd !important;
}

.ultimate-card-info-block-v3 .ultimate-card-link-wrapper path {
  fill: #5d5adc;
}

.ultimate-card-info-block-v3 .ultimate-card-link-wrapper:hover path,
.ultimate-card-info-block-v3 .ultimate-card-link-wrapper:active path {
  fill: #4441bd !important;
}

.carousel-disabled
  .ultimate-card-info-block-v3
  .ultimate-card-link-wrapper:hover {
  background: none !important;
}

/* Carousel version 4 */

.ultimate-card-v4 .ultimate-card-images-block {
  height: 206px;
}

.ultimate-card-v4 .ultimate-card-info-block {
  width: 100%;
  padding: 16px;
}

.ultimate-card-v4 .ultimate-card-info-block {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.ultimate-card-v4 .ultimate-card-title {
  margin: 0;
}

.ultimate-card-v4 .ultimate-custom-card-container {
  margin: 8px 0 16px;
  color: #15142d;
}

.ultimate-card-v4 .ultimate-custom-card-buttons {
  padding: 0;
}

.ultimate-card-v4 .ultimate-card-button {
  background: none !important;
  border: 1px solid #5d5adc;
  color: #0f0e3f;
}

.ultimate-card-v4 .ultimate-card-button:hover,
.ultimate-card-v4 .ultimate-card-button:active {
  background: #5d5adc !important;
  color: #fff !important;
}

.carousel-disabled
  .ultimate-carousel-custom-version4
  .ultimate-card-button:hover,
.carousel-disabled
  .ultimate-carousel-custom-version4
  .ultimate-card-button:active {
  background: none !important;
  color: #0f0e3f !important;
}
