/* Overwrite default chat styles */
.embeddedServiceLiveAgentStateChatItem.chatMessage .avatar.iconAvatar {
  margin: 0 14px 8px 0;
}
.embeddedServiceLiveAgentStateChatItem.chatMessage {
  margin: 0;
  padding: 8px 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Overwrite default chat styles */

/* Loader start  */
.chatMessage.agent:last-of-type .has-loader .slds-rich-text-editor__output {
  display: none;
}
.chatMessage.agent.visible:last-of-type
  .has-loader
  .slds-rich-text-editor__output {
  display: block;
}

.loader {
  opacity: 0;
  display: none;
}

.chat-content.chat-bot-v4 .loader {
  padding: 16px !important;
  background: #efeff0;
}

.chatMessage.agent:last-of-type .loader {
  opacity: 1;
  display: block;
}

.loader.hidden {
  opacity: 0 !important;
  display: none !important;
}

.tiblock {
  align-items: center;
  display: flex;
  height: 17px;
}

.loader .tidot {
  background-color: #90949c;
}

.tidot {
  -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 2px;
  display: inline-block;
  height: 4px;
  margin-right: 2px;
  width: 4px;
}

@-webkit-keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0px);
  }
  28% {
    -webkit-transform: translateY(-5px);
  }
  44% {
    -webkit-transform: translateY(0px);
  }
}

.tidot:nth-child(1) {
  -webkit-animation-delay: 200ms;
}
.tidot:nth-child(2) {
  -webkit-animation-delay: 300ms;
}
.tidot:nth-child(3) {
  -webkit-animation-delay: 400ms;
}

/* Loader end */

/* Scroll button */

.embeddedServiceLiveAgentStateChatInputFooter
  .unseenMessageNotificationWrapper
  .scrollDownButton
  .slds-button_icon-border {
  color: #ff6900;
  opacity: 0.4;
}

.embeddedServiceLiveAgentStateChatInputFooter
  .unseenMessageNotificationWrapper
  .scrollDownButton
  .slds-button_icon-border:hover {
  opacity: 1;
}

.nameAndTimeContent {
  display: none !important ;
}

.messageArea:focus {
  border: none !important;
}

.messageArea .ultimate-btn-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.messageArea .ultimate-btn-container .ultimate-btn {
  display: flex;
  align-items: center;
  font-family: "HelveticaNow", "Helvetica", sans-serif;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 12px;
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #003090;
  color: #003090;
  border-radius: 20px;
  min-width: 70px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  letter-spacing: inherit;
  margin-left: 4px;
  margin-bottom: 8px;
}

.messageArea .ultimate-btn-container .ultimate-btn.ultimate-btn-link svg {
  position: relative;
  width: 19px;
  height: 18px;
  margin-right: 10px;
}

.messageArea .ultimate-btn-container .ultimate-btn:hover {
  background: #003090;
  border-width: 1px;
  border-style: solid;
  border-color: #003090;
  color: #ffffff;
}

.messageArea .ultimate-btn-container .ultimate-btn:active {
  background: #134aba;
  border-width: 1px;
  border-style: solid;
  border-color: #134aba;
  color: #ffffff;
}

.messageArea .ultimate-btn-container .ultimate-btn:disabled {
  cursor: default;
  background: rgba(0, 48, 144, 0.3);
  border-color: rgba(0, 48, 144, 0.3);
}

.messageArea
  .ultimate-btn-container
  .ultimate-btn.ultimate-btn-link:hover
  svg
  path,
.messageArea
  .ultimate-btn-container
  .ultimate-btn.ultimate-btn-link:active
  svg
  path {
  fill: #ffffff;
}

/* Card */

.messageArea .ultimate-card-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.messageArea .ultimate-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 240px;
  max-width: 100%;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: #757575;
  text-align: left;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  outline: none;
  overflow: hidden;
}

.messageArea .ultimate-card img {
  height: 114px;
  align-self: center;
}

.messageArea .ultimate-card-version img {
  height: 114px;
  align-self: center;
}

.messageArea .ultimate-card h3 {
  margin: 12px 16px 0;
  font-size: 13px;
  font-weight: bold;
  color: #363740;
}

.messageArea .ultimate-card p {
  margin: 4px 16px 12px;
}

.messageArea .ultimate-card .ultimate-card-buttons {
  display: flex;
  flex-direction: column;
}

.messageArea .ultimate-card .ultimate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  margin: 0;
  padding: 10px;
  font-family: "HelveticaNow", "Helvetica", sans-serif;
  font-size: 13px;
  color: #757575;
  background: white;
  border: none;
  border-top: 1px solid #e8e8e8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.messageArea .ultimate-card .ultimate-btn svg,
.messageArea .ultimate-card .ultimate-btn span {
  pointer-events: none;
}

.messageArea .ultimate-card .ultimate-btn.ultimate-btn-link svg {
  position: relative;
  width: 19px;
  height: 18px;
  margin-right: 10px;
}

.messageArea .ultimate-card-buttons:first-child .ultimate-btn:first-child {
  border-top: none;
}

.messageArea .ultimate-card .ultimate-btn:hover,
.messageArea .ultimate-card .ultimate-btn:focus {
  color: #333333;
  background: #f4f4f4;
}

.messageArea .ultimate-card .ultimate-btn:active,
.messageArea .ultimate-card .ultimate-btn:visited,
.messageArea .ultimate-card .ultimate-btn.ultimate-btn-active {
  color: white;
  background: #005290;
  border-top-color: transparent;
}

.messageArea .ultimate-card .ultimate-btn.ultimate-btn-link:active svg path,
.messageArea .ultimate-card .ultimate-btn.ultimate-btn-link:visited svg path,
.messageArea
  .ultimate-card
  .ultimate-btn.ultimate-btn-link.ultimate-btn-active
  svg
  path {
  fill: #ffffff;
}

/* Carousel */

.messageArea .ultimate-carousel-container {
  margin: 10px 0 10px 28px;
  list-style: none;
}

.messageArea .ultimate-carousel {
  position: relative;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
}

.messageArea .ultimate-carousel .ultimate-card {
  width: 220px;
  margin-right: 12px;
  float: left;
  outline: none;
}

.messageArea .ultimate-carousel .ultimate-card img {
  pointer-events: none;
}

.messageArea .ultimate-carousel .ultimate-carousel-list {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.messageArea .ultimate-carousel .ultimate-carousel-list:before {
  content: "";
  position: absolute;
  left: 230px;
  top: 0;
  width: calc(100% - 230px);
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.ultimate-carousel .ultimate-carousel-track {
  position: relative;
  top: 0;
  left: 0;
  width: 15000px;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0px, 0px, 0px);
  transition: 500ms transform ease;
  opacity: 1;
}

.messageArea .ultimate-carousel .ultimate-carousel-button {
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  color: transparent;
  background: white !important;
  border: 1px solid #f5f5f5;
  border-radius: 100%;
  transform: translate(0, -50%);
  cursor: pointer;
  outline: 0;
  z-index: 2;
}

.messageArea .ultimate-carousel .ultimate-carousel-prev {
  left: -26px;
}

.messageArea .ultimate-carousel .ultimate-carousel-next {
  right: 10px;
}

.messageArea .ultimate-carousel .ultimate-carousel-button:hover,
.messageArea .ultimate-carousel .ultimate-carousel-button:focus {
  background: #f5f5f5 !important;
}

.messageArea .ultimate-carousel .ultimate-carousel-button svg {
  position: relative;
  width: 8px;
  height: 13px;
  pointer-events: none;
  opacity: 0.75;
}

.messageArea .ultimate-carousel .ultimate-carousel-button:hover svg,
.messageArea .ultimate-carousel .ultimate-carousel-button:focus svg {
  opacity: 1;
}

.messageArea .ultimate-carousel .ultimate-carousel-button.disabled svg {
  opacity: 0.25;
}

.messageArea .ultimate-btn-container,
.messageArea .ultimate-card-container,
.messageArea .ultimate-carousel-container {
  opacity: 1;
  transition: opacity 0.5s;
  font-family: "HelveticaNow", "Helvetica", sans-serif;
}

.messageArea .ultimate-hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}

/* user answer */

.chatContent .chasitor {
  padding: 16px 16px 16px 32px !important;
  background: #d0d1d3;
  border-radius: 8px 8px 2px 8px !important;
}

.chatContent .chasitor span {
  font-family: "HelveticaNow", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1a1a1a;
}
.chatContent .agent {
  background: #efeff0;
  border: 1px solid #d0d1d3;
  border-radius: 8px 8px 8px 2px !important;
  padding: 16px !important;
  text-align: start;
}

.chatContent .agent span {
  font-family: "HelveticaNow", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

/*general for 2 buttons */

.chatContent-custom-element > div {
  margin-left: 40px;
}
/* Hide default lighting rich text field */
.chatContent-custom-element .rich-content-wrapper {
  display: none;
}

.version-custom-button {
  border: 1px solid #d0d1d3;
  border-radius: 8px 8px 8px 2px;
  overflow: hidden;
  margin-left: 40px;
  justify-content: start !important;
}

.info {
  padding: 16px 16px;
  background: #efeff0;
  text-align: start;
  font-family: "HelveticaNow", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  min-height: 21px;
  display: flex;
  align-items: center;
}

.buttons-wrapper {
  display: flex;
  width: 100%;
}

.buttons-wrapper button {
  background: white;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "HelveticaNow", "Helvetica", sans-serif !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 24px;
  color: #1a1a1a;
}

.buttons-wrapper button:hover,
.buttons-wrapper button:active {
  background: #efeff0 !important;
  color: #000 !important;
}

button.button-disabled {
  cursor: default;
}
.buttons-wrapper button.button-disabled:hover {
  background: #fff !important;
  opacity: 1 !important;
  color: #1f1f28 !important;
}

.buttons button:active {
  background: lightblue;
}

/* General styles  */

.hidden {
  display: none !important;
}
.messageWrapper li.visible {
  /* opacity: 1!important; */
  position: relative !important;
  display: block !important;
}

/* button version default */

.buttons-wrapper-default {
  flex-direction: column;
}

.btn-version1 {
  border: none;
  border-top: 1px solid #d0d1d3;
  text-align: start;
}

.btn-version1:first-child {
  border: none;
}

/* button v1 */

.buttons-wrapper-v1 button {
  border: none;
  width: 50%;
  text-align: center;
}

/* button v2 */

.btn-version2 {
  text-align: start;
}

.button-v2-link {
  display: block;
  font-family: "HelveticaNow", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ff6900 !important;
}

.button-v2-note-block {
  padding: 0 0 5px 24px;
  text-align: start;
}

.button-v2-note-text {
  display: block;
  font-family: "HelveticaNow", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: start;
  color: #a2a3a8;
}

/* button v3 (rating) */

.rating-group {
  display: inline-flex;
  width: 100%;
  justify-content: flex-start;
  padding: 7px 24px;
}

.rating__icon {
  pointer-events: none;
}

.rating__input {
  position: absolute !important;
  left: -9999px !important;
}

.rating__input--none {
  display: none;
}

.rating__label {
  cursor: pointer;
}

.starsBlock {
  display: flex;
}

.starsBlock path {
  fill: #000000;
}

.star-disabled {
  cursor: default;
}

.star-remaining {
  cursor: default;
}

.star-disabled path {
  fill: #000000 !important;
  filter: drop-shadow(0px 0px 1px #000000);
}

.star-remaining path {
  fill: #efeff0 !important;
  filter: drop-shadow(0px 0px 1px #000000);
}

.starsBlock:hover .star-remaining path {
  fill: #efeff0 !important;
}

.starsBlock:hover .star-disabled path {
  fill: #000000 !important;
}

.rating__input:checked ~ .rating__label path {
  fill: #efeff0;
  filter: drop-shadow(0px 0px 1px #000000);
}

.starsBlock:hover .rating__label path {
  fill: #000000;
}

.rating__input:hover ~ .rating__label path {
  fill: #efeff0;
}

.buttons-wrapper-v3 {
  border-top: 1px solid #d0d1d3;
}

.buttons-wrapper-v3 button {
  width: 100%;
  height: 40px;
  border: 0;
  text-align: start;
}

/* button v4 */

.ultimate_custom_button_content {
  padding: 16px;
}

.ultimate_custom_button_content div:last-child {
  font-size: 16px;
}

.ultimate_custom_button_description {
  padding-bottom: 20px;
}

.ultimate_custom_button_description p {
  font-size: 16px;
}

.ultimate_custom_button_description p:first-child {
  color: #66676e;
  padding-bottom: 26px;
}

.ultimate_custom_button_description span {
  font-weight: 600 !important;
  font-size: 16px !important;
}

.ultimate_custom_button_content a {
  color: #ff6900;
  font-weight: 600;
  padding-bottom: 16px;
}

.ultimate_customBotMessage4 .info {
  font-weight: 600;
}

.description {
  padding: 20px 0 0 16px;
  text-align: start;
}

.description p {
  padding-bottom: 20px;
}

.description span {
  font-weight: 600 !important;
}

.description div {
  padding: 0 0 16px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.description a {
  text-decoration: none;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ff6900;
}

/*general for carousels*/

.ultimate-custom-carousel-container {
  margin: 0 !important;
}

.ultimate-carousel-title {
  text-align: start;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 16px;
}

.ultimate-custom-carousel {
  background-color: #efeff0;
  border: 1px solid #d0d1d3;
  border-radius: 8px;
  color: #000000;
  overflow: hidden;
  font-family: "HelveticaNow", "Helvetica", sans-serif;
}

.ultimate-custom-carousel .ultimate-carousel-button {
  visibility: hidden;
}

.ultimate-carousel-list-version .ultimate-carousel-track {
  display: flex;
}

.ultimate-card-version {
  background-color: #ffffff;
  border: 1px solid #d0d1d3 !important;
}

.ultimate-card-version:not(:last-child) {
  margin-right: 8px !important;
}

.ultimate-card-title {
  margin: 8px 16px 4px !important;
}

.ultimate-card-title b {
  color: #1a1a1a;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  display: inline-block;
}

.ultimate-card-version span {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #66676e;
  margin-right: 4px;
}

.ultimate-card-version strong {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #1a1a1a;
}

.ultimate-card-images-block {
  display: flex;
  border-bottom: 1px solid #d0d1d3;
  height: 133px;
}

.ultimate-card-image {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ultimate-custom-card-container {
  flex-grow: 1;
  min-height: 82px;
  border-top: 1px solid #d0d1d3;
  border-bottom: 1px solid #d0d1d3;
  padding: 8px 16px;
  margin: 0;
  white-space: normal;
}

.ultimate-custom-card-container ul li {
  font-weight: 700 !important;
  color: #1a1a1a !important;
  font-size: 12px;
  line-height: 16px;
}

.ultimate-custom-card-container ul li:not(:last-child) {
  color: #000000;
  margin-bottom: 4px;
}

.ultimate-custom-card-buttons {
  margin: 0;
  border: none;
  border-radius: 0;
}

.ultimate-custom-card-buttons button {
  width: 100%;
  background-color: #ffffff;
  text-align: start;
  padding: 8px 16px 8px;
  font-family: "HelveticaNow", "Helvetica", sans-serif !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px;
  line-height: 16px;
  color: #ff6900;
  cursor: pointer;
}
.ultimate-custom-card-buttons button:hover,
.ultimate-custom-card-buttons button:active {
  background: #efeff0 !important;
  color: #ff6900 !important;
  opacity: 1 !important;
}

.carousel-disabled .ultimate-custom-card-buttons button:hover {
  background-color: #fff !important;
  color: #ff6900;
  cursor: default;
}

/*carousel version 1 */

.ultimate-carousel-custom-version1 {
  background-color: #ffffff;
}

.ultimate-carousel-custom-version1 .ultimate-carousel-title {
  padding: 16px 0 23px 16px;
  min-height: 20px;
}

.ultimate-carousel-custom-version1 .ultimate-card-version {
  width: auto;
  min-width: 220px;
}

.ultimate-carousel-custom-version1 .ultimate-custom-card-container {
  background-color: #efeff0;
}

.ultimate-carousel-custom-version1 .ultimate-carousel-list-version {
  padding: 0px 16px 0 16px !important;
}

.ultimate-carousel-custom-version1 button {
  padding: 8px 16px 8px;
}

/*carousel version 2 */

.ultimate-carousel-custom-version2 .ultimate-carousel-list-version {
  background-color: #ffffff;
  padding: 16px 16px 0 16px !important;
  border-radius: 8px 0;
}

.ultimate-carousel-custom-version2 .ultimate-carousel-title {
  padding: 12px 16px 8px;
  min-height: 20px;
}

.ultimate-carousel-custom-version2 .ultimate-custom-card-container {
  background-color: #efeff0;
}

.ultimate-carousel-custom-version2 .ultimate-card-title {
  margin: 8px 16px 8px !important;
}

.ultimate-custom-card-container p {
  margin: 0 0 3px 0 !important;
  color: #1a1a1a;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

/*carousel version 3 */

.ultimate-carousel-custom-version3 {
  background-color: #ffffff;
}

.ultimate-carousel-custom-version3 .ultimate-carousel-list {
  border-radius: 8px 0 0 8px;
  padding-top: 8px !important;
  border-bottom-right-radius: 0;
  margin: 0 0 19px 16px !important;
}

.ultimate-carousel-custom-version3 .ultimate-carousel-title {
  padding: 16px 20px 12px 16px;
}

.ultimate-carousel-custom-version3 .ultimate-carousel-title h4 {
  margin: 0;
}

.ultimate-carousel-custom-version3 .ultimate-carousel-title p:last-child {
  line-height: 16px;
}

.ultimate-carousel-custom-version3 .ultimate-custom-card-container {
  border: none;
  min-height: 40px;
  padding: 0 9px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #1a1a1a;
}
.ultimate-carousel-custom-version3
  .ultimate-carousel-list
  .ultimate-card-title {
  margin: 7px 9px 4px !important;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #1a1a1a;
}

.ultimate-carousel-custom-version3 .ultimate-custom-card-buttons button {
  padding: 8px 9px 8px;
}

.ultimate-carousel-custom-version3 .ultimate-card-images-block {
  display: flex;
  height: 196px;
  overflow: hidden;
  border: none;
}

.ultimate-carousel-custom-version3 img {
  height: auto !important;
}

.ultimate-carousel-custom-version3 .ultimate-card-version {
  margin: 0 0 0 8px !important;
}

/* slider dots */

.ultimate-content-card {
  transition: all 1s cubic-bezier(0.68, 0, 0.265, 1);
  will-change: transform;
}

.ultimate-card-version {
  display: flex !important;
  width: 220px;
  border-radius: 8px;
  overflow: hidden;
  text-align: start;
  flex-direction: column;
}

.dotsContainer {
  list-style-type: none;
  text-align: center;
  margin: 5px 0 !important;
}

.dotsContainer li {
  box-sizing: content-box;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background-color: #efeff0;
  height: 8px;
  cursor: pointer;
  width: 8px;
  margin-right: 5px;
  border: 1px solid #a2a3a8;
}

.dotsContainer li.active {
  background-color: #66676e;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border: 0;
}

.webviewOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 450px;
  height: 600px;
  background-color: rgba(250, 250, 250, 0.7);
  display: block;
  z-index: 9999;
}

.webviewWrapper {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 450px;
  height: 400px;
  background-color: rgb(199, 196, 196);
  display: block;
  z-index: 9999;
  border-radius: 25px 25px 0 0;
  box-shadow: 0px -9px 34px -17px rgba(1, 1, 1, 0.75);
  animation: slideInFromBottom 0.5s ease;
}

.webview {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80%;
  height: 80%;
  background-color: white;
  z-index: 10000;
}

.webviewHeader {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: flex-end;
}

.webviewBtn {
  background: url(https://img.icons8.com/material-rounded/24/delete-sign.png)
    no-repeat center center;
  width: 20px;
  height: 20px;
  margin: 15px 20px;
  cursor: pointer;
}

.webviewReturnBtn {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 94%;
  height: 50px;
  background-color: #36a2e9;
  z-index: 10000;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slideInFromBottom {
  0% {
    bottom: -400px;
  }
  100% {
    bottom: 0px;
  }
}
